.main_experience{
    width: 80%;
}

.main_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 60px 20px;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    
}

.card{
    width: 25%;
    height: 350px;
    background-color: #ffffff;
    color: #1c1c1c;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 50px;
}

.card_header{
    display: flex;
    justify-content: space-between;
    height:30%;
}

.card-info{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.card_title{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 10px 0px
}

.link_company{
    font-family: Poppins;
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
    color: #1c1c1c;
}


.card p{
    font-family: Poppins;
    font-size: 16px;
    padding-top: 20px;
}

.card p a{
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 600;
}
