@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@400;700&family=Work+Sans:ital,wght@0,300;0,400;1,600&display=swap');

*{
    margin: auto;
}


/*   BODY   */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #212529;
    color: #ffffff;
}

/*   HEADER   */
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

header img {
    max-width: 80px;
    margin: 20px;
}

/*   NAV   */
nav ul{
    display: flex;
}

nav li{
    margin: 20px;
    list-style-type: none;
}

nav a{
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover{
    color: #ffB742;
}

button{
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border-style: none;
    width: 180px;
    height: 50px;
    padding: 5px;
    background-color: #ffB742;
}

/*   FOOTER   */
footer{
    display: flex;
    align-content: flex-start;
    background-color: #1c1c1c;
    padding: 80px 40px;
}

.footer_section{
    margin-top: 0;
}

footer h3{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 28px;
    color: #FFB742;
}

footer h5{
    font-size: 20px;
    font-weight: 400;
}

footer h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer ul{
    flex-direction: column;
    padding: 0;
}

footer li{
    padding-bottom: 2px;
    list-style: none;
    padding-bottom: 10px;
}

footer a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

footer a:hover{
    color: #ffB742;
}

form{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

#email, #submitButton{
    border-radius: 30px;
    border-style: none;
    padding: 15px 15px;
    margin: 0;
}

#email{
    background-color: #212529;
}

#submitButton{
    background-color: #FFB742;
    color: #212529;
    margin-left: -35px;
    width: 50px;
}

/*************   INDEX   ***********/

/*   MAIN: INDEX  */
.main_index{
    font-family: 'inter';
    text-align: center;
    margin: 60px 20px;
}

h1{
    font-size: 42px;
    margin: 20px 0px;
}

h2{ 
    font-size: 32px;
}

#span_subrayado{
    color:#FFB742;
}

#main_subtitulo{
    font-size: 20px;
    margin: 60px 0px;
    display: block;
}

.main_index img{
    width: 10%;
}

/*   SECTION: INDEX */
.main_section{
    display: flex;
    margin: 40px;
}

.section__item{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #292b2E;
    height: 120px;
    width: 35%;
    margin: 20px;
    padding: 10px 20px;
}

.main_section img{
    width: 20%;
    margin: 20px;
}

.section_item_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section_item_info_highlighted{
    font-size: 32px;
    margin: 3px;
    color: #FFB742;
}

/*************   ABOUT   ***********/

.about{
    display: flex;
    margin: 60px 20px;
}

.about-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
}

.about img{
    width: 30%;
}

.tag{
    font-family: Poppins;
    background-color: #33363A;
    border-radius: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    margin: 5px 0px;
    color: #FFB742;
}

.page_title{
    text-align: left;
    margin: 10px;
}

.about-info p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 300;
}

.about-info a{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    background-color: #FFB742;
    padding: 15px 20px;
    margin: 20px 0px;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    color: #1c1c1c;
}

.about-info a, a:hover{
    color: #1c1c1c;
    text-decoration: none;
    
}


/*************   EXPERIENCE   ***********/

.main_experience{
    width: 80%;
}

.main_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 60px 20px;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    
}

.card{
    width: 25%;
    height: 350px;
    background-color: #ffffff;
    color: #1c1c1c;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 50px;
}

.card_header{
    display: flex;
    justify-content: space-between;
    height:30%;
}

.card-info{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.card_title{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 10px 0px
}

.link_company{
    font-family: Poppins;
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
    color: #1c1c1c;
}


.card p{
    font-family: Poppins;
    font-size: 16px;
    padding-top: 20px;
}

.card p a{
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 600;
}

