@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;500;600;700&family=Roboto:wght@400;700&family=Work+Sans:ital,wght@0,300;0,400;1,600&display=swap');

*{
    margin: auto;
}


/*   BODY   */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #212529;
    color: #ffffff;
}

/*   HEADER   */
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

header img {
    max-width: 80px;
    margin: 20px;
}

/*   NAV   */
nav ul{
    display: flex;
}

nav li{
    margin: 20px;
    list-style-type: none;
}

nav a{
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

nav a:hover{
    color: #ffB742;
}

.button{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    background-color: #FFB742;
    padding: 15px 20px;
    margin: 30px 0px;
    border-radius: 30px;
    width: 200px;
    color: #1c1c1c;
    align-self: flex-end;
    border: none;
    cursor: pointer;
}

/*   FOOTER   */
footer{
    display: flex;
    align-content: flex-start;
    background-color: #1c1c1c;
    padding: 80px 40px;
}

.footer_section{
    margin-top: 0;
}

footer h3{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 28px;
    color: #FFB742;
}

footer h5{
    font-size: 20px;
    font-weight: 400;
}

footer h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

footer ul{
    flex-direction: column;
    padding: 0;
}

footer li{
    padding-bottom: 2px;
    list-style: none;
    padding-bottom: 10px;
}

footer a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

footer a:hover{
    color: #ffB742;
}

form{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

#email, #submitButton{
    border-radius: 30px;
    border-style: none;
    padding: 15px 15px;
    margin: 0;
}

#email{
    background-color: #212529;
}

#submitButton{
    background-color: #FFB742;
    color: #212529;
    margin-left: -35px;
    width: 50px;
}

/*************   EXPERIENCE, CONTACT, ABOUT   ***********/
.tag{
    font-family: Poppins;
    background-color: #33363A;
    border-radius: 20px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    margin: 5px 0px;
    color: #FFB742;
}

.page_title{
    text-align: left;
    margin: 10px;
}

/*************   CONTACT   ***********/

footer{
    color: white;
}

.main_contact{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.joke-container{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 30px;
}

.joke-text{
    background-color:white;
    color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    min-width: 600px;
}

.joke-text p{
    font-size: 20px;
    margin: 20px 0px
}

.contact-button{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    background-color: #FFB742;
    padding: 15px 20px;
    margin: 30px 0px;
    border-radius: 30px;
    width: 150px;
    color: #1c1c1c;
    align-self: flex-end;
    border: none;
}

hr{
    display: block;
    width: 40%;
    margin: 40px auto;
    text-align: center;
} 

.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 0px;

}

.contact-form input{
    background-color: #212529;
    margin: 20px 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 20px;
}

.contact-form input::placeholder {
    font-family: Poppins;
    font-size: 20px;
    color: white;
}

/*************   LIGHT MODE   ***********/

.light{
    background-color: white;
    color: #1c1c1c;
}